#section-wsn .k-tabs__content {
    padding-top: 0;
}

#section-wsn {
    margin-top: 80px;
}

#section-wsn .c-section-heading {
    margin-top: 0;
    padding-top: 0;
}

#section-chipop {
    margin-top: 0;
}

#section-chipop {
    margin-top: 0;
    padding-top: 0;
}

#section-chipop .c-section-heading {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}
